.ibox-title {border-top:none; padding:6px 12px;}
.ibox-title h5 {
    letter-spacing: 0.5px;
	font-weight: normal;
	font-family:LatoBold;
}
.ibox-shadow {box-shadow: 0 0 10px #080000;}
.ibox-content-border{border-bottom: 1px solid #e7eaec;}
.projectmonitoring .ibox-content {overflow:hidden; position:relative; padding-bottom:10px;background-color:#3e3e3e;border-width: 0px 0;}
.projectmonitoring .ibox-content img {margin:0px auto;}
.projectmonitoring .ibox-content small {margin-bottom:10px;}
.projectmonitoring .ibox-title {background-color:#292929; color:#fff;}


.vulnerabilities .ibox-content {overflow:hidden; position:relative; padding-bottom:10px;background-color:#3e3e3e;border-width: 0px 0;}
.vulnerabilities .ibox-content img {margin:0px auto;}
.vulnerabilities .ibox-content small {margin-bottom:10px;}
.vulnerabilities .ibox-title {background-color:#292929 !important; color:#fff;}
.vulnerabilities h1 {
    top: 40px !important;
    left: 88px !important;
}

.upgrades .ibox-content {overflow:hidden; position:relative; padding-bottom:10px;background-color:#3e3e3e;border-width: 0px 0;}
.upgrades .ibox-content img {margin:0px auto;}
.upgrades .ibox-content small {margin-bottom:10px;}
.upgrades .ibox-title {background-color:#292929; color:#fff;}
.upgrades h1 {
    top: 22px !important;
    left: 72px !important;
}
.urgent-a85751{background-color:#a85751;box-shadow: 0 0 10px #a85751;}
.urgent-ffb86f{background-color:#ffb86f;box-shadow: 0 0 10px #ffb86f;}
.urgent-81a87c{background-color:#81a87c;box-shadow: 0 0 10px #81a87c;}
.urgent {padding:5px;overflow:hidden;}
.urgent h2 {margin:0px;color:#fff;text-align:center;font-size:16px;}
.urgent hr {margin-top: 7px;margin-bottom: 10px;}
.urgent-content {}
.urgent-body {padding:10px;background-color:#fff;margin-bottom:10px}
.urgent-body-inn {border:1px solid #ccc;height:110px;}
.urgent-body h3 {
    background-color: #fff;
    font-size: 13px;
    width: 57px;
    margin-top: -6px;
    margin-left: 14px;
}
.urgent-item {width:85%;float:left;    padding: 0px 12px 12px 12px;}
.urgent-item ul{list-style:none;padding-left:0px;}
.urtent-icon{
    text-align: center;
    padding: 12px;
}
.urtent-icon i{font-size:22px !important;}
.scrollbar
{
	height: 300px;
	overflow-y: scroll;
	min-height: 450px;
}




/*
 *  STYLE 1
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #202e47;
}
/*style - 4*/

.projectslist .ibox-title {background-color:#453a49; min-height:28px; color:#fff; padding:6px 10px;}

.projectslist .ibox-title h5 {margin:0px; font-weight:normal;}

.recommendations .ibox-title {background-color:#587e93; min-height:28px; color:#fff; padding:4px 10px;}
.recommendations h5 strong {font-size:14px;}
.recommendations h5 {font-weight:normal; line-height:20px; margin-bottom:0px;font-family:LatoBold;}
.recommendations h5 small {margin-top:5px; margin-bottom:4px;}

.recommendations .ibox-title h5 {margin:0px;}
.nopaddingright{padding-right:0px;}
.nopaddingleft{padding-left:0px;}

#page-wrapper {padding:0px;}
.row {margin-right:0px; margin-left:0px;}

.projects-table { border: 1px solid #2dc3e8; border-spacing: 3px;
    border-collapse: separate; margin-top:4px;}

.projects-table thead th {background-color:#2dc3e8; color:#fff;}
.projects-table tbody td {border: 1px solid #D9E4E6;}
.projects-table tbody tr:nth-child(odd) {background-color:#f5fffd;}

.projects-table td {padding:5px !important; vertical-align:middle !important;}

.projects-table tbody td a i {font-size:11px; margin-right:5px;}

.edit-icon {padding:4px 5px; background-color:#a85751; border-radius:30px; color:#fff;}
.view-icon {padding:4px; background-color:#ffb86f; border-radius:30px; color:#fff;}
.delete-icon {padding:4px 5px; background-color:#453a49; border-radius:30px; color:#fff;}

.custom-btn {background-color:#2dc3e8; padding:3px 12px; border:none; color:#fff; font-size:12px;}
.custom-btn:hover, .custom-btn:focus, .custom-btn:active, .custom-btn:visited {color:#fff;}

/* Add Project CSS */
.addproject{margin-top:0px; overflow:hidden;}
.addproject .ibox-content {overflow:hidden; position:relative; padding-bottom:10px;}
.addproject .ibox-title {background-color:#2dc3e8; color:#fff; padding:6px 10px;}
.addproject .ibox-title h5 {margin:0px;}

.form-footer {
  margin-top: 2em;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width:75%;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	padding: 13px 0px 17px 0;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	padding: 0 1em;
	width: 40%;
	color: #676a6c;
	font-weight: 300;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; text-transform:uppercase;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 27px;
	width: 75%;
	background: transparent;
	color: #595F6E;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0;
	width: 75%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 1px;
	border-bottom: 1px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: #2dc3e8;
}

.input__label--hoshi-color-2::after {
	border-color: #2dc3e8;
}

.input__label--hoshi-color-3::after {
	border-color: #2dc3e8;
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}


#Email {position:relative;}
#Email i {position:absolute; right:0px; top:13px; background-color:#2dc3e8; color:#fff; padding:8px;}
#Email i:hover {cursor:pointer;}

.custom-hr {width:98%;border: 0 none;
  border-top: 1px dashed #587e93;
  background: none;
  height:0;}
  
  .file {
  visibility: hidden !important;
  position: absolute !Important;
}

.custom-fileupload{padding:5px 20px !important; border:none; background-color:#202e47; color:#fff; border-radius:0px;}

.custom-img {overflow:hidden; border:1px solid #587e93; padding:5px; margin-right:5px; width:100px; height:100px; display:inline-block;margin-bottom:5px;}

.img-gallery {overflow:hidden; margin-top:0px;}
.img-gallery h3 {margin-bottom:13px;}

.save-btn{padding:5px 25px !important; border:none; background-color:#202e47; color:#fff; border-radius:3px; margin-top:15px;}

.save-btn:hover, .save-btn:focus, .save-btn:active, .save-btn:visited { background-color:#202e47; color:#fff;}


/*  View Project CSS */

.projectcards {overflow:hidden; margin-top:10px; text-transform:uppercase;}
.info-box {
    display: block;
    min-height: 72px;
    /* background: #f7f7f7; */
    width: 100%;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 7px;
    border: 1px solid #e4e4e4;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #202e47 !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #a85751 !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #587e93 !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ffb86f !important;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
	margin-top: 7px;
}
.info-box-text {
    text-transform: uppercase;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	letter-spacing: 0.4px;
	    text-align: center;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 22px;
	    text-align: center;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 70px;
    width: 90px;
    text-align: center;
    font-size: 34px;
    line-height: 71px;
    background: rgba(0,0,0,0.2);
}
.info-box-icon i {color:#fff;}

.allcard .info-box-number {color:#202e47}
.goodcard .info-box-number {color:#587e93}
.warningcard .info-box-number {color:#ffb86f}
.fixcard .info-box-number {color:#a85751}

.appname h3 {margin-top:5px; margin-bottom:5px;color: #a85751;}

.redbg {background-color:#a85751;; width:15px; height:15px; border-radius:20px;}
.greenbg {background-color:#587e93; width:15px; height:15px; border-radius:20px;}
.orangebg {background-color:#ffb86f; width:15px; height:15px; border-radius:20px;}

.onoffswitch-inner:before {
    content: "Yes" !important;
}

.onoffswitch-inner:after {
    content: "No";
    padding-right: 7px;
    background-color: #ffb86f;
    color: #fff;
    text-align: right;
}

.switch {padding-left:30px;}

/*  Login CSS */

.devdog-login {background-color:#fff; width:auto !Important; padding:0px 20px 20px 20px; margin:100px auto; overflow:hidden; border-top:3px solid #587e93; border-bottom:3px solid #587e93;}
.devdog-login h2 {font-weight:600; font-size:40px; color:#2dc3e8; margin-top:0px;}
.devdog-login p {color:#333; font-size:16px;}


.field + .field {
  margin-top: 0.75em;
}

.field {
  position: relative;
  border: none;
}

.devdog-login label {
    font-size: 13px;
    text-transform: inherit;
    font-weight: 500;
    margin-top: 5px;
    color: #676a6c;
}

.devdog-login input ~ label {
  position: absolute;
  top: -3em;
  display: block;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 11px;
  color: #F3F3F3;
  background-color: #27313C;
  pointer-events: none;
  text-transform: initial;
  z-index: 2;
  opacity: 0; font-weight:normal;
  -webkit-transition: opacity 0.25s ease 0;
  transition: opacity 0.25s ease 0;
}
.devdog-login input ~ label::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background: #27313C;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  bottom: -5px;
  left: 10px;
}

.devdog-login input:focus ~ label {
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease 1s;
  transition: opacity 0.5s ease 1s;
}

.devdog-login input, .devdog-login button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.75em;
  font-size: inherit;
  border-radius: 3px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  background-color: #E2E5E5;
  border: 2px solid #E2E5E5;
}
.devdog-login input:focus, .devdog-login button:focus {
    border-color: #2dc3e8;
    background-color: rgba(45, 195, 232, 0.43);
}

.devdog-login input::-webkit-input-placeholder {
  font-size: 14px;
  color: #919FAF; font-weight:normal;
}

.devdog-login button:focus, .devdog-login input:focus {
  position: relative;
  outline: none;
  color: white;
}

.devdog-login input[type="submit"], .devdog-login button {
  display: inline-block;
  width: auto;
  font-size: 0.875em;
  padding: 0.71429em 2.28571em;
  margin: 0.28571em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-color: #2AB0C5;
  border: 2px solid #2AB0C5;
  text-transform: uppercase;
}
.devdog-login input[type="submit"]::before, .devdog-login input[type="submit"]::after, .devdog-login button::before, .devdog-login button::after {
  font-family: "Ionicons";
  content: "";
  margin: 0 0.25em;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.devdog-login input[type="submit"]::after, .devdog-login button::after {
  content: "";
}
.devdog-login input[type="submit"]:focus, .devdog-login button:focus {
  border-color: #202e47;
  background-color: #202e47;
}

.devdog-login input[type="submit"]:focus::after, .devdog-login input[type="submit"]:focus::before, .devdog-login button:focus::after, .devdog-login button:focus::before {
  opacity: 1;
}

.devdog-login input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  height: 2em;
  width: 4em;
  border-radius: 1.5em;
  background-color: #d0d0d0;
  border-color: transparent;
  background-clip: padding-box;
  color: #919FAF;
  vertical-align: middle; margin-top:-5px;
}
.devdog-login input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background-color: white;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-clip: padding-box;
  z-index: 2;
}
.devdog-login input[type="checkbox"]::after {
  position: absolute;
  left: 0.675em;
  top: 0.375em;
  font-family: "Ionicons";
  content: "";
  letter-spacing: 0.75em;
  z-index: 1;
}
.devdog-login input[type="checkbox"]:focus {
  color: white;
  border-color: transparent;
  background-color: #919FAF;
}
.devdog-login input[type="checkbox"]:checked {
  color: white;
  background-color: #ffb86f;
  border-color: transparent;
}
.devdog-login input[type="checkbox"]:checked::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.devdog-login a {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #676a6c;
}
.devdog-login button {background-color:#202e47; color:#fff; padding:10px 30px; border:none;}

/* 05-10-17 CSS */

.ibox-title {min-height:28px;}
.ibox-content h1 {
    font-size: 32px;
    position: absolute;
    top: 38px;
    left: 95px;
	color:#fff;
}
.ibox {margin-bottom:20px;}

.projectslist .ibox-content, .recommendations  .ibox-content {padding-top:5px;}
.projectslist table thead th, .projectslist table tbody td {padding:4px;}

.breadcrumb>li+li:before {padding:0px;}
.projects-table thead th, .projects-table tbody td {padding:2px 4px !important;}
.addproject form h3 {font-size:14px;}
.addproject .input-group .form-control {height:28px;}
.addproject-heading {font-size:16px; font-weight:700; margin-top:44px;}

.logo {padding:10px;}
.nav-header {padding:10px 25px;}

#Email input {width:60% !important;}

#Email input + label::after {
  width:60%;
}

.ui-input input::placeholder, .ui-input textarea::placeholder {vertical-align:bottom;}
.ui-input textarea {resize:none;}
.txr-area-top {margin-top:-10px !important}
.email-icon {
    right: 164px;
    top: 49px;
    background: #202e47;
    padding: 8px;
    color: #fff;
	
}
.ibox-content h3 {
    color: #a85751;
    margin-bottom: 5px !important;
	font-size:14px;
}
textarea{resize:none !important}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: #2dc3e8;
    border-color: #2dc3e8;
    color: #FFFFFF;
}
.btn-primary {
    background-color: #2dc3e8;
    border-color: #2dc3e8;
    color: #FFFFFF;
}
.label-primary, .badge-primary {
    background-color: #587e93;
    color: #FFFFFF;
}
.onoffswitch-switch {
    border: 2px solid #202e47;
}
.onoffswitch-inner:before {
    background-color: #202e47;
}
.onoffswitch-label {
    border: 2px solid #202e47;
}
.ibox-content label {font-weight:normal !important}
.ibox-content .form-group {margin-bottom:10px;}
.form-control:focus, .single-line:focus {
    border-color: #587e93 !important;
}
.upload-width{width:88% !important}
.nav > li.active {
    border-left: 4px solid #587e93;
    background: #293846;
}
@media only screen and (max-width: 1024px) and (min-width: 320px){
	.custom-btn {margin-bottom:5px;}
	.nopadleftright{padding-left:0px;padding-right:0px}
	.ibox-content .form-group {margin-bottom:10px;width:100%;}
	.ibox-content {padding: 15px 12px 20px 12px;}
	.ibox-content-add {padding: 15px 0px 20px 0px !important;}
}
@media only screen and (max-width: 374px) and (min-width: 320px){
	.email-icon-w {width:89% !important;float:left}
.email-icon {
    right: 16px;
    top: 44px;
}
.upload-width {
    width: 100% !important;
}
.custom-fileupload {
    padding: 5px 5px !important;
}
.custom-img {
    width: 65px;
    height: 65px;
}
.reg-acc{
    font-size: 12px !important;
    text-align: right;
}

}
@media only screen and (max-width: 424px) and (min-width: 375px){
	.ibox-content h1 {
    left: 127px;
}
.vulnerabilities h1 {
    left: 120px !important;
}
.upgrades h1 {
    left: 105px !important;
}
.email-icon-w {width:91% !important;float:left}
.email-icon {
    right: 16px;
    top: 44px;
}
.upload-width {
    width: 100% !important;
}
.custom-fileupload {
    padding: 5px 5px !important;
}
.custom-img {
    width: 80px;
    height: 80px;
}
}
@media only screen and (max-width: 767px) and (min-width: 425px){
		.ibox-content h1 {
    left: 150px;
}
.vulnerabilities h1 {
    left: 145px !important;
}
.upgrades h1 {
    left: 130px !important;
}
.email-icon-w {width:92% !important;float:left}
.email-icon {
    right: 16px;
    top: 44px;
}
.custom-img {
    width: 96px;
    height: 96px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
.email-icon {
    right: 16px;
    top: 48px;
}
.custom-img {
    width: 86px;
    height: 86px;
}
}
@media only screen and (max-width: 768px) and (min-width: 320px){ 
body.mini-navbar #page-wrapper {
    margin: 0 0 0 220px !important;
	z-index:999999 !important;
}
body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
    display: block;
}
body.mini-navbar .nav-header {
    padding: 0;
    background-color: #1ab394;
    width: 220px;
}
.nav > li.active {
    border-left: 4px solid #2dc3e8;
    background: #293846;
    width: 250px !important;
}
body.mini-navbar .navbar-default .nav > li > a {
    font-size: 14px;
    display: inline-flex;
	font-weight:normal !important;
	width: 220px;
}
body.mini-navbar .navbar-default .nav > li > a span{
	margin-top:-4px !important;
}
.projects-table {border:none !important}
.navbar-right {
    float: right!important;
}
.register .gridl {padding-right:0px !important;}
.register .gridr {padding-left:0px !important;}
}
@media only screen and (max-width: 1600px) and (min-width: 1024px){
	.navbar-minimalize {display:none !important;}
}
@media only screen and (max-width: 1150px) and (min-width: 1024px){
	.ibox-content h1 {
    left: 77px;
}
.vulnerabilities h1 {
    left: 70px !important;
}
.upgrades h1 {
    left: 50px !important;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
	.urgent-item {
    width: 78% !important;
}
	.navbar-right {
    margin-right: 0px;
}
.ibox-content h1 {
    left: 85px;
}
.vulnerabilities h1 {
    left: 80px !important;
}
.upgrades h1 {
    left: 65px !important;
}
}
@media (max-width: 475px){
	/* .fullwidth .navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: 0px;
} */
	.prj-left {margin-left:0px !important;}
.new-left {margin-left:0px !important;}
.profile-left {margin-left:0px !important;}
.search-left {margin-left:0px !important;}
.mbl-mrgt{margin-top:-8px !important}
.menu-top{margin-top:50px;}
.mrg-btm{margin-bottom:20px;}
.mrg-left-0{margin-left:0px !important}
.fullwidth .nav > li > a {
    color: #b5b5b5;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 22px 34px 21px !important;
}
.bdr-right {
    border-right: none !important;
}
.nav.navbar-top-links li.dropdown {
    display: inline-block;
}
.navbar-top-links .dropdown-messages {
    margin-left: -46px;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 284px !important;
}
.dropdown-messages, .dropdown-alerts{
    padding: 10px 2px 10px 0px !important;
}
.dropdown-menu {
    font-size: 11px !important;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -88px;
}
.custom-btn {
    background-color: #2dc3e8;
    padding: 3px 4px;
    border: none;
    color: #fff;
    font-size: 11px;
}

}
.img-gallery img {margin-bottom:5px;}
.prj-table {border:1px solid #587e93;margin-top:4px;}
.prj-table thead{background-color:#587e93 !important;}
.prj-table thead tr th {color:#fff;padding:5px;font-weight:normal;}
.prj-table tbody tr td {padding:5px;font-weight:normal;}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efefef;
}
.pace .pace-progress {
    background: #2dc3e8;
    position: fixed;
    z-index: 2040;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
.feed-activity-list .feed-element {
    border-bottom: none;
}
/*registration*/
.reg-box {
    max-width: 580px !important;
}
.reg-acc{
    font-size: 12px !important;
    text-align: right;
}
.reg-acc a {text-decoration:underline}
.register .field {margin-bottom:10px;}
.register .gridl {padding-left:0px;}
.register .gridr {padding-right:0px;}

/* 12-10-17 CSS */
.custom-btn {background-color:#202e47; color:#fff;padding: 6px 15px; border:none;}
#ForgotPwd .modal-header h4 {font-size:16px; font-weight:600;}

.custom-btn:focus {
  border-color: #202e47;
  background-color: #202e47;
}
.shw-all{box-shadow:0px 0px 10px #ccc;}
.shw-2{box-shadow: 3px 3px 5px #ccc;}
.custom-btn:focus {
  position: relative;
  outline: none;
  color: white; outline:none;
}

.fl-left{float:left !important;}
.bdr-right{border-right:1px dashed #587e93}


.fullwidth .navbar-nav>li>.dropdown-menu {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color:#202e47;
}

.fullwidth  .navbar-default .navbar-nav>li>a {
  font-weight: bold;
}
.fullwidth .navbar {
    min-height: 44px;
	margin-bottom:0px;
}
.fullwidth .nav > li > a {
    color: #b5b5b5;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 24px 34px 21px !important;
}
.fullwidth .navbar-nav>li:nth-child(even) {
    background: #39b1cc;
    background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
    background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
        /* background: linear-gradient(to bottom, #969595 0%, #585858 100%); */
		background:#212224;
    /* border: 1px solid #737373; */
    /* box-shadow: 0 0 10px #ccc; */
    /* margin: 1px 1px 1px 1px; */
}
.fullwidth .navbar-nav>li:nth-child(odd) {
    background: #39b1cc;
    background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
    background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
    background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
   /* background: linear-gradient(to bottom, #969696 0%, #292928 100%); */
   	background:#212224;
   /*  border: 1px solid #737373; */
    /* box-shadow: 0 0 10px #ccc; */
    /* margin: 1px 1px 1px 1px; */
}
.fullwidth .navbar-default .nav > li > a:hover:nth-child(2){background: linear-gradient(to bottom, #ffffff 0%, #000000 100%) !important;}
.fullwidth .navbar-default {
    background-color: #1c1c1c;
    border-color: #1c1c1c;
	border-radius:0px;
}
.fullwidth .mega-dropdown-menu li h2 {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
.fullwidth .nav .navbar-nav li{width:50px;height:50px;}
.fullwidth .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus,  .navbar-default .nav > li > a:active {
   background: linear-gradient(to bottom, #425982 0%, #202e47 100%);
    color: #fff;
}
.fullwidth .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #202e47;
}
.mega-dropdown {
  position: static !important;
  width: 100%;
}
.fullwidth .navbar-form-custom {
    float: left;
    height: 34px;
    padding: 0;
    width: 200px;
    display: inline-table;
}
.fullwidth .navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 50px;
    margin: 0;
    z-index: 2000;
}
.mega-dropdown-menu {
  padding: 0px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
} */

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 0px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}
.rightmenu{
    position: absolute;
    right: 0px;
}

.project-menu:acitve{
	background-color: red !important;
    color: #fff;
}
.index-wrapper {padding-top:66px !important}

/*Project Portal page css*/
.wrapper-content {padding-top:70px;}
.undermonitoring {overflow:hidden; background-color:#f2f2f2; padding:0px;}
.undermonitoring .card-heading {padding:7px 5px; background-color:#202e47;}
.card-heading h3 {color:#fff; font-size:18px;}
.card-body {height:400px; overflow-y:auto;}
.card {padding:15px 10px 7px 10px; background-color:#fff; border-radius:7px; margin:15px 10px; position:relative; box-shadow:0px 0px 10px 2px #ccc;}
.card i {position:absolute;left:50%; padding:10px; background-color:#fff; border-radius:50%; font-size:15px;transform: translate(-50%, -65%); color:#202e47;}

.card span {font-size:22px;}
.card span sup {font-size:11px;}
.value {padding:2px 18px; background-color:#f1f1f1; border-radius:15px; color:#202e47;}
.date {margin-top:15px;}

.projectdetails {margin-top:25px;}
.projectdetails h3 {font-size:16px; color:#333;}
.projectdetails p {margin-bottom:2px;}
.projectdetails a {font-size:13px; font-weight:700; color:#202e47;}

#monitorscroll::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
 background-color: #F5F5F5;
}

#monitorscroll::-webkit-scrollbar
{
 width: 6px;
 background-color: #F5F5F5;
}

#monitorscroll::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: rgba(32, 46, 71, 0.8); 
}

.vulnerabilities {overflow:hidden; background-color:#f2f2f2; padding:0px;}
.vulnerabilities .card-heading {padding:7px 5px; background-color:#ffb86f;}

#vulnerabilitiesscroll::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
 background-color: #F5F5F5;
}

#vulnerabilitiesscroll::-webkit-scrollbar
{
 width: 6px;
 background-color: #F5F5F5;
}

#vulnerabilitiesscroll::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: rgba(255, 184, 111, 0.8); 
}

.vulnerabilities .card i {color:#ffb86f;}
.vulnerabilities .value {color:#ffb86f;}
.vulnerabilities .projectdetails a {color:#ffb86f;}


.needtofixed {overflow:hidden; background-color:#f2f2f2; padding:0px;}
.needtofixed .card-heading {padding:7px 5px; background-color:#a85751;}

#needtofixedscroll::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
 background-color: #F5F5F5;
}

#needtofixedscroll::-webkit-scrollbar
{
 width: 6px;
 background-color: #F5F5F5;
}

#needtofixedscroll::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: rgba(168, 87, 81, 0.8); 
}

.needtofixed .card i {color:#a85751;}
.needtofixed .value {color:#a85751;}
.needtofixed .projectdetails a {color:#a85751;}


/*projectprotal css*/
.ppmain{border:1px solid #587e93;padding:5px;}
.ppmain h5 {
    margin: 0 0 0 0;
    padding: 2px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 24px;
}
.ppsub {border:1px solid #587e93;padding:3px;margin:6px;height:368px;}
.ppsub p {}
.fullwidth .navbar-default .nav > li > .col-202e47-hr:hover{background: linear-gradient(to bottom, #425982 0%, #202e47 100%) !important;}
.fullwidth .navbar-default .nav > li > .col-a85751-hr:hover{background: linear-gradient(to bottom, #ea9791 0%, #a85751 100%) !important;}
.fullwidth .navbar-default .nav > li > .col-453a49-hr:hover{background: linear-gradient(to bottom, #827188 0%, #453a49 100%) !important;}
.fullwidth .navbar-default .nav > li > .col-587e93-hr:hover{background: linear-gradient(to bottom, #8ab9d4 0%, #587e93 100%) !important;}
.fullwidth .navbar-default .nav > li > .col-ffb86f-hr:hover{background: linear-gradient(to bottom, #eacaa8 0%, #ffb86f 100%) !important;}

/* .col-2f4050 {background: linear-gradient(to bottom, #545454 0%, #222222 100%); */}
.col-202e47 {background: linear-gradient(to bottom, #425982 0%, #202e47 100%);color:#fff !important;}
.col-a85751 {background: linear-gradient(to bottom, #ea9791 0%, #a85751 100%);color:#fff !important;}
.col-453a49 {background: linear-gradient(to bottom, #827188 0%, #453a49 100%);color:#fff !important;}
.col-587e93 {background: linear-gradient(to bottom, #8ab9d4 0%, #587e93 100%);color:#fff !important;}
.col-ffb86f {background: linear-gradient(to bottom, #eacaa8 0%, #ffb86f 100%);color:#fff !important;}
.col-587e93:hover{background: linear-gradient(to bottom, #8ab9d4 0%, #587e93 100%);}

.prj-left {margin-left:65px;}
.new-left {margin-left:133px;}
.profile-left {margin-left:196px;}
.search-left {margin-left:257px;}

.email-icon-w {width:93%;float:left}